version: "3.8"

services:

  nginx:
    build: requirements/nginx/
    container_name: nginx
    ports: 
      - "443:443"
    volumes: 
      - "/home/debian/data/website:/var/www/html"
    depends_on:
      - wordpress
    networks:
      - frontend
    restart: always


  mariadb:
    build: requirements/mariadb/
    container_name: mariadb
    environment:
      MYSQL_DATABASE: ${WP_DB_NAME}
      MYSQL_USER: ${WP_DB_USER}
      MYSQL_PASSWORD: ${WP_DB_PASSWORD}
      MYSQL_ROOT_PWD: ${MYSQL_ROOT_PWD}
    ports: 
      - "3306:3306"
    volumes: 
      - "/home/debian/data/db:/var/lib/mysql"
    networks:
      - backend
    restart: always


  wordpress:
    build: requirements/wordpress/
    container_name: wordpress
    environment:
      WP_DB_HOST: ${WP_DB_HOST}
      WP_DB_NAME: ${WP_DB_NAME}
      WP_DB_USER: ${WP_DB_USER}
      WP_DB_PASSWORD: ${WP_DB_PASSWORD}
      WP_URL: ${WP_URL}
      WP_TITLE: ${WP_TITLE}
      WP_ADMIN_USER: ${WP_ADMIN_USER}
      WP_ADMIN_EMAIL: ${WP_ADMIN_EMAIL}
      WP_ADMIN_PWD: ${WP_ADMIN_PWD}
      WP_USER_LOGIN: ${WP_USER_LOGIN}
      WP_USER_EMAIL: ${WP_USER_EMAIL}
      WP_USER_PWD: ${WP_USER_PWD}
    ports:
      - "9000:9000"
    volumes: 
      - "/home/debian/data/website:/var/www/html"
    depends_on:
      - mariadb
    networks:
      - frontend
      - backend
    restart: always

networks:
  frontend:
  backend:
